<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main class="main">
    <div class="content">
        <div class="left-side">

            <h1>Hello, {{ title() }}</h1>

            <p [id]=messageID() [style.color]=messageColour()>{{message()}}</p>

            <button type="button" (click)="sendAlertMessage()">Click here</button>

            <ul>
                @for (task of tasks(); track task; let isEven = $even; let i = $index;) {
                    <!-- contextual vars in @for blocks -->
                     <!-- if li is even (true) => give it a class of evenRow -->
                    <li [class.evenRow]="isEven" [class.oddRow]="!isEven">
                        <button (click)="deleteTask($index)">Delete</button>
                        {{ i }} {{ task }}
                        {{ isEven }}
                    </li>
                }

                @if (tasks().length > 0) {
                    <li>{{ tasks().length }} tasks remaining</li>
                } @else {
                    <li>No tasks found!</li>
                }
            </ul>
            <!-- <button type="button" (click)="addTask(task)">Add task</button> -->

        </div>
    </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />